.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: linear-gradient(to right, #0d1117, #001aff);
  padding: 2rem 2rem;
  font-family: Poppins, Montserrat;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}
.navList {
    display: flex;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
a
{
    transition: 0.5s ease;
    text-decoration: none;
    color: black;
}
nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover
{
    color: #007bff;
}
.hamburger{
    display: none;
}

.scrolled {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px){
    .navList{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: #0d1117;
        position: absolute;
        top: 100%;
        right: 1.4rem;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 150ms ease, transform 150ms ease, visibility 150ms;
    }
    .navList.open{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        display: flex;
    }
    .hamburger{
        display: flex;
        background: none;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        align-self: center;
        margin-right: 3rem;
    }
    a{
        color: #ffffff;
    }
}