.projectCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--space-8);
  justify-items: center;
  padding-top: var(--space-8);
}

.sectionTitle {
  text-align: center;
  font-size: clamp(1.75rem, 1.5vw + .75rem, 2.25rem);
  margin-bottom: var(--space-4);
}
.projectsSection {
  color: #fff;
}
.sectionDescription {
  text-align: center;
  font-size: 1.05rem;
  margin: 0 auto var(--space-8);
  max-width: 65ch;
  color: rgba(255,255,255,.9);
}
@media (max-width: 1084px){
  .projectCards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .sectionDescription{
    margin: 0 var(--space-4) var(--space-8);
  }
}